.LibraryWrapper {
    height: 700px;
    width: 80%;
    min-width: 500px;
    background-color: #121212;
    margin-top: 50px;
    display: grid;
    grid-template-columns: minmax(250px, 3fr) 250px;
}

.Library {
    height: 700px;
    padding:12px;
    display: flex;
    flex-wrap:wrap;
    align-content: flex-start;
    overflow-y: scroll;
    justify-content: flex-start;
    gap: 8px;
    overflow-x: hidden;
}

.Library::-webkit-scrollbar {
    width: 35px;
}

.Library::-webkit-scrollbar-track {
    background-color: rgb(60, 60, 60);
    margin: 10px;
    padding-right: 10px;
    border-radius: 50px;
    border: 5px solid #121212;
}

.Library::-webkit-scrollbar-thumb {
    background: rgb(77, 135, 210);
    background-clip: content-box;
    border-radius: 50px;
    border: 5px solid transparent;
}

.Sidebar {
    height: 700px;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Search-Input {
    background-color: transparent;
    color: rgb(245, 245, 245);
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    width: 80%;
    height: 50px;
    padding: 18px 20px;
    margin: 10px 0px;
    box-sizing: border-box;
    border: 2px solid rgb(193, 193, 193);
    border-radius: 10px;
}