* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

header {
    width: 100%;
}

.title {
    font-family: 'Poppins', sans-serif;
    color:rgb(245, 245, 245);
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
}

.title:hover{
    cursor:pointer
}

.Navli {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:rgb(245, 245, 245);
}

.Navul {
    list-style-type: none;
    display: flex;
    min-width: 230px;
    justify-content: space-evenly;
}

header {
    background-color: #121212;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20%
}

.navbutton {
    border:none;
    background-color: transparent;
    outline-width: 2px;
    border-radius: 50px;
    width: 95px;
    height: 30px;
    transition: .2s;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color:rgb(245, 245, 245);
}

.login {
    border: 2px solid rgb(131, 170, 221);
    border-radius: 50px;
    transition: .2s;
}

.login:hover {
    border: 2px solid rgb(77, 135, 210);
}

.signup {
    background-color: rgb(77, 135, 210);
    border: 2px solid rgb(77, 135, 210);
    border-radius: 50px;
    transition: .2s;
}

.signup:hover {
    background-color: rgb(131, 170, 221);
    border: 2px solid rgb(131, 170, 221);
    border-radius: 50px;
}

button:hover {
    cursor: pointer;
}

