.Review {
    background-color: rgb(60, 60, 60);
    max-width: 100%;
    min-width: 100%;
    height: 200px;
    display: grid;
    grid-template-rows: 50px 150px;
    border-radius: 5px 5px 0px 0px;
    margin: 5px 0px;
}

.Review-Mine {
    background-color: rgb(77, 135, 210);
    max-width: 100%;
    min-width: 100%;
    height: 200px;
    display: grid;
    grid-template-rows: 50px 150px;
    border-radius: 5px 5px 0px 0px;
    margin: 5px 0px;
}

.Title-User {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%
}

.Name-Trash-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Trash {
    background-color: rgb(60, 60, 60);
    width: 30px;
    height: 30px;
    transition: .2s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(245, 245, 245);
    margin-left: 10px;
    cursor: pointer;
}

.Trash-On {
    background-color: rgb(101, 101, 101);
    width: 30px;
    height: 30px;
    transition: .2s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(245, 245, 245);
    margin-left: 10px;
    cursor: pointer;
}

.Trash:hover {
    background-color: rgb(101, 101, 101);
}

.Trash-On:hover {
    background-color: rgb(128, 128, 128);
}

.Trash:active {
    box-shadow: inset 0 0 10px rgb(69, 69, 69);
    border:none;
}

.Trash-On:active {
    box-shadow: inset 0 0 10px rgb(69, 69, 69);
    border:none;
}

.Delete-Button {
    background-color: rgb(188, 54, 54);
    border: 2px solid rgb(188, 54, 54);
    border-radius: 50px;
    transition: .2s;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:rgb(245, 245, 245);
    padding: 10px;
    margin-left: 10px;
    height: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:none;
}

.Delete-Off {
    display:none;
}

.Delete-Button:hover {
    background-color: rgb(215, 81, 81);
    border: 2px solid rgb(215, 81, 81);
    border-radius: 50px;
    border:none;
}

.Delete-Button:active {
    box-shadow: inset 0 0 10px rgb(138, 32, 32);
    border:none;
}

.Review-Title {
    font-family: 'Poppins', sans-serif;
    color:rgb(245, 245, 245);
    font-size: 20px;
}

.Review-User-Img {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.Review-User-Img:hover {
    cursor: pointer;
}

.Review-Header {
    display:flex;
    align-items: center;
}

.Review-Username {
    margin: 8px;
    font-family: 'PT Sans', sans-serif;
    color:rgb(245, 245, 245);
    font-size: 18px;
}

.Review-Username:hover {
    margin: 8px;
    font-family: 'PT Sans', sans-serif;
    color:rgb(245, 245, 245);
    font-size: 18px;
    text-decoration:underline;
    cursor: pointer;
}

.Content {
    display: grid;
    grid-template-columns: minmax(250px, 3fr) 150px;
}

.Text-Space {
    background-color: #0a0a0a;
    display:flex;
    align-items: center;
    justify-content: center;
}

.Text {
    width: 100%;
    height: 85%;
    background-color: rgb(60, 60, 60);
    margin: 0px 12px;
    border-radius: 5px;
    font-family: 'PT Sans', sans-serif;
    color:rgb(245, 245, 245);
    padding: 15px;
    display: flex;
    font-size: 18px;
}

.Score-Space {
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Score {
    height: 125px;
    width: 125px;
    border-radius: 5px;
    border: 3px solid rgb(77, 135, 210);
    font-family: 'Poppins', sans-serif;
    color:rgb(245, 245, 245);
    font-size: 45px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}